@use "sass:math";
@use "../../global" as *;
@use "../../extend";

$yellow-cl: #e1e2ad;

.p-go {
  .c-mv {
    position: relative;
    z-index: 0;
    &__img {
    }
    &__heading {
      left: 29px;
      position: absolute;
      top: 34px;
      font-family: $font-serif;
      font-weight: 500;
      font-size: rem(14);
      line-height: 1.5;
      letter-spacing: 0.3em;
      @include mq {
        left: vw(150, 1366);
        top: vw(113, 1366);
        line-height: 1.7;
        letter-spacing: 0.4em;
        font-size: vw(36, 1366);
      }
    }
  }

  .feature {
    padding: 51px 0 0;
    @include mq {
      padding-top: 134px;
    }
    &__heading {
      text-align: center;
      font-family: $font-serif;
      font-weight: 500;
      font-size: rem(20);
      letter-spacing: 0.17em;
      margin-bottom: 54px;
      @include mq {
        font-size: rem(27);
        letter-spacing: 0.3em;
        padding-left: 42px;
        margin-bottom: 72px;
      }
      span {
        @include mq {
          position: relative;
          padding: 0 97px;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 61px;
            height: 1px;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
            background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
          }
        }
      }
    }
    &__list {
    }
    &__item {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column-reverse;
      &:last-child {
        margin-bottom: 0;
      }
      @include mq {
        position: relative;
        margin-bottom: vw(112, 1366);
        flex-direction: row;
        min-height: vw(420, 1366);
        &:nth-child(odd) {
          justify-content: flex-end;
          .feature__img {
            left: calc(50% - 50vw);
          }
          .feature__content--head {
            align-items: flex-end;
          }

          .feature__content--desc {
            text-align: right;
            margin-right: -17px;
          }

          .feature__content--title {
            text-align: right;
            margin-right: -17px;
          }

          .feature__content--stt {
            &::before {
              left: unset;
              right: -42px;
            }
          }

          .feature__content {
            padding-top: 83px;
            padding-right: 45px;
          }
        }
        &:nth-child(1) {
          .feature__img {
            width: vw(975, 1366);
          }
        }
        &:nth-child(2) {
          margin-bottom: vw(130, 1366);
        }
      }
    }
    &__img {
      display: block;
      margin-left: -25px;
      margin-right: -25px;
      @include mq {
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        right: calc(50% - 50vw);
        z-index: -1;
        width: vw(756, 1366);
      }
    }
    &__content {
      margin-bottom: 19px;
      @include mq {
        margin-bottom: 0;
        padding-top: 33px;
        padding-left: 60px;
      }
      @include mq("ld") {
        padding-left: 143px;
      }
    }
    &__content--head {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 38px;
      color: $yellow-cl;

      @include mq {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 38px;
      }
    }
    &__content--stt {
      font-family: $font-en;
      font-size: rem(22);
      letter-spacing: 0.09em;
      position: relative;
      background-color: #000;
      margin-right: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        bottom: 0;
        margin: auto 0;
        width: 60px;
        height: 60px;

        border-radius: 100%;
        border: 2px solid $yellow-cl;
        z-index: -1;
      }
      @include mq {
        margin-bottom: 71px;
        margin-right: 0;
        font-size: vw(42, 1366);
        &::before {
          left: -52px;
          width: 112px;
          height: 112px;
        }
      }
    }
    &__content--title {
      font-family: $font-serif;
      font-size: rem(16);
      text-align: center;
      letter-spacing: 0.3em;
      @include mq {
        font-size: rem(31);
        text-align: left;
      }
    }
    &__content--desc {
      font-family: $font-serif;
      text-align: center;
      font-size: rem(11);
      letter-spacing: 0.05em;
      line-height: 1.8;
      @include mq {
        text-align: left;
        font-size: rem(16);
        letter-spacing: 0.19em;
        line-height: 2.4;
      }
    }
    &__content--note {
      text-align: center;
      margin-top: 5px;
      font-size: rem(9);
      letter-spacing: 0.17em;
      line-height: 1.6;
      @include mq {
        text-align: left;
        font-size: rem(13);
        margin-top: 23px;
        letter-spacing: 0.22em;
      }
    }
  }

  .usage {
    padding: 55px 0 56px;
    @include mq {
      padding: 138px 0 125px;
    }

    &__heading {
      text-align: center;
      font-family: $font-serif;
      font-size: rem(20);
      letter-spacing: 0.25em;
      font-weight: 500;
      position: relative;
      margin-bottom: 20px;
      @include mq {
        font-size: rem(27);
        margin-bottom: 65px;
      }

      span {
        @include mq {
          position: relative;
          padding: 0 100px;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 61px;
            height: 1px;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
            background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
          }
        }
      }
    }

    &__desc {
      font-family: $font-serif;
      text-align: center;
      margin-bottom: 59px;
      font-size: rem(11);
      line-height: 1.7;
      letter-spacing: 0.145em;
      @include mq {
        font-size: rem(18);
        line-height: 2.1;
        letter-spacing: 0.2em;
        margin-bottom: 61px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 59px;
      padding: 0 26px;
      @include mq {
        flex-direction: row;
        padding: 0;
        gap: clamped(26, 47, 768, 1366);
      }
    }

    &__item {
      width: 100%;
    }

    &__item--img {
      display: block;
      margin-bottom: 19px;
      @include mq {
        margin-bottom: 31px;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &__item--detail {
      font-size: rem(11);
      letter-spacing: -0.1px;
      line-height: 1.7;
      @include mq {
        font-size: rem(16);
      }
    }
  }

  .price {
    padding: 60px 0 53px;
    @include mq {
      padding: 128px 0 130px;
    }
    &__heading {
      font-size: rem(20);
      text-align: center;
      font-family: $font-serif;
      margin-bottom: 54px;
      letter-spacing: 0.2em;
      @include mq {
        margin-bottom: 58px;
        font-size: rem(27);
        padding-left: 15px;
        letter-spacing: 0.25em;
        span {
          position: relative;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0 99px;
          width: fit-content;
          margin: 0 auto;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 32px;
            height: 40px;
            background: center/contain no-repeat;
            filter: brightness(0) invert(1);
          }

          &::before {
            left: 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points="32.59 39.83 12.8 20.04 32.59 .25"/><polyline class="cls-1" points="20.29 39.83 .5 20.04 20.29 .25"/></g></g></svg>');
          }

          &::after {
            right: 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points=".25 39.83 20.04 20.04 .25 .25"/><polyline class="cls-1" points="12.55 39.83 32.34 20.04 12.55 .25"/></g></g></svg>');
          }
        }
      }
    }
    &__tbl {
      @include mq("sp") {
        padding: 0 25px;

        table,
        thead,
        tbody,
        tr,
        td,
        th {
          display: block;
          width: 100%;
        }
        thead {
          display: none;
        }
        tr {
          &:last-child {
            td {
              padding-bottom: 0;
            }
          }
          &:nth-child(2) {
            td {
              padding-top: 17px;
              padding-bottom: 43px;
            }
          }
          &:nth-child(3) {
            td {
              padding-bottom: 32px;
            }
          }
          &:nth-child(4) {
            td {
              padding-top: 19px;
              padding-bottom: 40px;
            }
          }
          &:nth-child(5) {
            td {
              padding-top: 19px;
              padding-bottom: 40px;
            }
          }
          &:nth-child(6) {
            td {
              padding-top: 19px;
            }
          }
        }

        th {
          background-color: #595757;
          text-align: center;
        }

        .price__list {
          margin-top: 4px;
          &--t1 {
            margin-bottom: 10px;
          }

          li {
            margin-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      @include mq {
        table {
        }

        thead {
          td,
          th {
            background-color: #595757;
          }
          th {
            border-right: 1px solid #000;
            letter-spacing: 0.5em;
            padding-left: 20px;
          }
          td {
            text-align: center;
            padding: 13px 48px 12px 10px;
            font-weight: 400;
          }
        }

        tbody {
          th {
            border-right: 1px solid #595757;
          }
        }

        tr {
          &:nth-child(2) {
            td {
              padding-top: 26px;
              padding-bottom: 28px;
            }
          }
          &:nth-child(3) {
            td {
              padding-top: 26px;
              padding-bottom: 41px;
            }
          }
          &:nth-child(4) {
            td {
              padding-bottom: 27px;
              padding-top: 25px;
            }
          }
          &:nth-child(5) {
            td {
              padding-bottom: 23px;
              padding-top: 20px;
            }
          }
          &:nth-child(6) {
            td {
              padding: 22px 0px 20px 40px;
            }
          }
        }

        th {
          text-align: center;
        }
      }

      table {
        margin-bottom: 43px;
        @include mq {
          margin-bottom: 23px;
        }
      }

      th {
        font-weight: 500;
        font-size: rem(15);
        padding: 9px 10px;
        color: $yellow-cl;
        letter-spacing: 0.1em;
        @include mq {
          font-size: rem(18);
          width: 241px;
          font-weight: 400;
          border-bottom: 1px solid #5f5f5f;
          vertical-align: middle;
          padding-left: 8px;
        }
      }
      td {
        font-size: rem(14);
        line-height: 1.7;
        font-weight: 700;
        text-align: center;
        padding: 13px 0 39px;
        letter-spacing: 0.05em;
        @include mq {
          font-size: rem(18);
          border-bottom: 1px solid #5f5f5f;
          padding: 18px 10px 24px;
          letter-spacing: 0px;
          font-weight: 400;
          letter-spacing: 0.03em;
        }
      }

      .tl {
        font-size: rem(18);
        color: $yellow-cl;
        @include mq {
          font-size: rem(24);
          margin-left: 2px;
        }
      }

      .price__list {
        margin-bottom: 12px;
        @include mq {
          padding: 0 clamped(20, 58, 768, 1366);
          margin-bottom: 18px;
          li {
            display: flex;
          }

          &--t1 {
            margin-right: 10px;
            font-size: clamped(14, 18, 768, 1366);
          }
          &--dot {
            margin-right: clamped(7, 17, 768, 1366);
            font-size: clamped(13, 18, 768, 1366);
          }

          &--t2 {
            font-size: clamped(14, 18, 768, 1366);
          }

          .tl {
            font-size: 133.3333333333% !important;
          }
        }
      }

      .price__note {
        font-size: rem(11);
        font-weight: 400;
        line-height: 1.46;
        text-align: left;
        li {
          display: inline;
          &::before {
            content: "※";
          }
        }

        @include mq {
          padding: 0 clamped(20, 60, 768, 1366);

          li {
            display: block;
            padding-left: 12px;
            position: relative;
            line-height: 1.65;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }

      .price__tx {
        text-align: left;
        line-height: 1.6;
        @include mq {
          font-size: rem(15);
          line-height: 2.15;
          letter-spacing: 0px;
        }
      }

      .price-nte {
        li {
          position: relative;
          display: inline;
          &::before {
            content: "※";
          }
          @include mq {
            font-size: rem(11);
            display: block;
            padding-left: 15px;
            position: relative;
            letter-spacing: 0.015em;
            line-height: 1.5;
            margin-bottom: 2px;
            &:last-child {
              margin-bottom: 0;
            }
            &::before {
              position: absolute;
              top: 0;
              left: 2px;
            }
          }
        }
      }
    }
  }

  .service {
    background-color: #595757;
    padding: 60px 0 56px;
    @include mq {
      padding: 153px 0 130px;
    }
    &__heading {
      font-size: rem(20);
      text-align: center;
      font-family: $font-serif;
      margin-bottom: 57px;
      letter-spacing: 0.2em;
      @include mq {
        margin-bottom: 31px;
        font-size: rem(27);
        padding-left: 15px;
        letter-spacing: 0.25em;
        span {
          position: relative;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0 67px;
          width: fit-content;
          margin: 0 auto;
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 32px;
            height: 40px;
            background: center/contain no-repeat;
            filter: brightness(0) invert(1);
          }

          &::before {
            left: 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points="32.59 39.83 12.8 20.04 32.59 .25"/><polyline class="cls-1" points="20.29 39.83 .5 20.04 20.29 .25"/></g></g></svg>');
          }

          &::after {
            right: 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points=".25 39.83 20.04 20.04 .25 .25"/><polyline class="cls-1" points="12.55 39.83 32.34 20.04 12.55 .25"/></g></g></svg>');
          }
        }
      }
    }
    &__tbl {
      @include mq("sp") {
        padding: 0 25px;

        table,
        thead,
        tbody,
        tr,
        td,
        th {
          display: block;
          width: 100%;
        }
        tr {
          &:last-child {
            td {
              padding-bottom: 0;
            }
          }
        }

        th {
          background-color: #000;
          text-align: center;
        }
      }

      @include mq {
        padding: 0 42px;
        table {
        }
      }

      th {
        font-weight: 500;
        font-size: rem(15);
        padding: 9px 10px;
        color: $yellow-cl;
        @include mq {
          width: 170px;
          font-weight: 400;
          border-bottom: 1px solid #5f5f5f;
          vertical-align: middle;
          padding-left: 8px;
        }
      }
      td {
        font-size: rem(14);
        line-height: 1.8;
        font-weight: 700;
        text-align: center;
        padding: 18px 0 54px;
        letter-spacing: 0.05em;
        @include mq {
          font-size: rem(15);
          border-bottom: 1px solid #5f5f5f;
          text-align: left;
          padding: 29px 11px 25px;
          letter-spacing: 0px;
          font-weight: 400;
          letter-spacing: 0.03em;
        }
      }
    }
  }

  .app {
    background-color: #e1e2ad;
    padding: 58px 0 62px;
    color: #000;
    @include mq {
      padding: 131px 0 125px;
    }

    &__heading {
    }
    &__heading--title {
      text-align: center;
      font-family: $font-serif;
      font-size: rem(20);
      letter-spacing: 0.25em;
      margin-bottom: 18px;
      @include mq {
        font-size: rem(27);
        margin-bottom: 34px;
      }
    }
    &__heading--w {
      display: flex;
      flex-direction: column;
      @include mq {
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 57px 0 77px;
        width: fit-content;
        margin: 0 auto;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 32px;
          height: 40px;
          background: center/contain no-repeat;
        }

        &::before {
          left: 0;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points="32.59 39.83 12.8 20.04 32.59 .25"/><polyline class="cls-1" points="20.29 39.83 .5 20.04 20.29 .25"/></g></g></svg>');
        }

        &::after {
          right: 0;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 32.85 40.09"><defs><style> .cls-1 { fill: none; stroke: %23010101; stroke-miterlimit: 10; stroke-width: .71px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g><polyline class="cls-1" points=".25 39.83 20.04 20.04 .25 .25"/><polyline class="cls-1" points="12.55 39.83 32.34 20.04 12.55 .25"/></g></g></svg>');
        }
      }
    }
    &__heading--line {
      font-size: rem(18);
      margin-top: 21px;
      letter-spacing: 0.1em;
      @include mq {
        font-size: rem(27);
        margin-top: 0;
        margin-left: 18px;
      }
      span {
        position: relative;
        padding: 0 50px 0 48px;
        @include mq {
          padding: 0 86px;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          bottom: 0;
          margin: auto 0;
          width: 40px;
          height: 1px;
          @include mq {
            width: 64px;
          }
        }

        &::before {
          left: 0;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #000 100%);
        }

        &::after {
          right: 0;
          background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 50%, #000 100%);
        }
      }
    }
    &__heading--desc {
      font-family: $font-serif;
      font-size: rem(11);
      line-height: 1.6;
      letter-spacing: 0.1em;
      text-align: center;
      @include mq {
        font-size: rem(18);
      }
    }

    &__download {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 23px;
      @include mq {
        margin-top: 25px;
        margin-bottom: 74px;
      }
      &--logo {
        display: block;
        margin: 0 auto 12px;
        width: 144px;
        @include mq {
          margin-bottom: 28px;
        }

        img {
          width: 100%;
          display: block;
        }
      }

      &--text {
        font-family: $font-serif;
        font-size: rem(11);
        line-height: 1.8;
        letter-spacing: 0.1em;
        margin-bottom: 13px;
        @include mq {
          font-size: rem(15);
          line-height: 2.05;
          letter-spacing: 0.2em;
          margin-bottom: 21px;
        }
      }

      &--img {
        display: block;
        margin: 0 auto;

        img {
          width: 180px;
          display: block;
          margin: 0 auto;
          @include mq {
            width: 416px;
          }
        }
      }
    }

    .c-flow {
      display: flex;
      flex-direction: column;
      gap: 64px;
      padding: 0px 28px 0 24px;
      @include mq {
        flex-direction: row;
        padding: 0;
        gap: 34px;
        gap: clamped(20, 34, 768, 1366);
      }

      &__item {
        background-image: linear-gradient(180deg, #2f2f2f 0%, #1a1a1a 100%);
        color: #fff;
        border-radius: 5px;
        padding: 38px 16px 46px;
        text-align: center;
        position: relative;
        width: 100%;
        @include mq {
          border-radius: 8px;
          padding: 32px 10px 30px;
          &:nth-child(3) {
            .c-flow__title {
              margin-bottom: 20px;
            }
            .c-flow__desc {
              margin-bottom: 30px;
            }
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -42px;
          margin: 0 auto;
          width: 35px;
          height: 19px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_2" data-name="Layer 2" viewBox="0 0 35.1 18.24"><defs><style> .cls-1 { fill: none; stroke: url(%23_名称未設定グラデーション_16); stroke-miterlimit: 10; stroke-width: .98px; } </style><linearGradient id="_名称未設定グラデーション_16" data-name="名称未設定グラデーション 16" x1="-4870.11" y1="-484.9" x2="-4870.11" y2="-509.72" gradientTransform="translate(3109.58 3796.03) rotate(45)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%231a1a1a"/><stop offset=".99" stop-color="%232f2f2f"/></linearGradient></defs><g id="main"><polyline class="cls-1" points="34.76 .35 17.55 17.55 .35 .35"/></g></svg>')
            center/contain no-repeat;
          @include mq {
            bottom: 0;
            top: 0;
            left: unset;
            right: -23px;
            width: 13px;
            height: 25px;
            margin: auto 0;
            right: clamped(-13, -23, 768, 1366);
            width: clamped(8, 13, 768, 1366);
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_2" data-name="Layer 2" viewBox="0 0 13.27 25.53"><defs><style> .cls-1 { fill: none; stroke: url(%23_名称未設定グラデーション_16); stroke-miterlimit: 10; stroke-width: .71px; } </style><linearGradient id="_名称未設定グラデーション_16" data-name="名称未設定グラデーション 16" x1="-1242.36" y1="-169.24" x2="-1242.36" y2="-187.29" gradientTransform="translate(1005.03 -739.66) rotate(-45)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%231a1a1a"/><stop offset=".99" stop-color="%232f2f2f"/></linearGradient></defs><g id="section"><polyline class="cls-1" points=".25 .25 12.77 12.77 .25 25.28"/></g></svg>');
          }
        }
        &:last-child {
          &::before {
            display: none;
          }
        }
      }

      &__item--stt {
        width: 125px;
        font-size: rem(12);
        margin-bottom: 26px;
        position: relative;
        display: inline-block;
        padding: 0 20px;

        padding: 4px 0 8px;
        border: 0px solid rgba($color: #fff, $alpha: 0.3);
        border-width: 1px 0;
        font-size: rem(16);
        font-family: $font-en;
        line-height: 1;
        span {
          font-size: 125%;
          @include mq {
            margin-left: 3px;
          }
        }
      }

      &__title {
        font-family: $font-serif;
        font-size: rem(23);
        font-weight: 500;
        margin-bottom: 29px;
      }

      &__desc {
        font-family: $font-serif;
        font-size: rem(15);
        line-height: 1.7;
        margin-bottom: 43px;
        letter-spacing: 0.05em;
        @include mq {
          font-size: clamped(13, 15, 768, 1024);
        }

        span {
          color: $yellow-cl;
        }
      }

      &__img {
        img {
          width: 150px;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
  .app2 {
    @include mq {
      padding: 128px 0 125px;
    }

    .app__heading {
      margin-bottom: 59px;
      @include mq {
        margin-bottom: 45px;
      }
    }

    .c-flow {
      gap: 69px;
    }

    .c-flow__item {
      padding-top: 28px;
      padding-bottom: 26px;
      min-height: 248px;
      @include mq {
        min-height: 270px;
      }
      &:nth-child(2) {
        .c-flow__desc {
          letter-spacing: 0;
        }
      }
    }

    .c-flow__item--stt {
      margin-bottom: 19px;
      @include mq {
        margin-bottom: 23px;
      }
    }

    .c-flow__title {
      margin-bottom: 18px;
      @include mq {
        margin-bottom: 22px;
      }
    }

    .c-flow__desc {
      margin-bottom: 0;
      a {
        display: block;
        color: $yellow-cl;
        font-size: rem(30);
        width: fit-content;
        margin: 0 auto;
        @include mq {
          letter-spacing: 0.14em;
          font-size: clamped(22, 30, 768, 1366);
        }
      }
    }

    .app__note {
      font-size: rem(11);
      font-weight: 500;
      padding: 0 28px 0 24px;
      margin-top: 20px;
      line-height: 1.5;
      @include mq {
        padding: 0;
      }
    }
  }
}
