---
layout: _default
title:
description: ''
keyword: ''
vendercss: []
venderjs: []
css: ['company']
js: []
page: company
---

<main class="p-company">
  <section class="c-mv">
    <picture class="c-mv__img">
      <source media="(max-width: 767px)"
        srcset="../assets/images/company/img_mv_sp.webp">
      <img src="../assets/images/company/img_mv.webp" alt>
    </picture>

    <div class="c-mv__heading">
      <p class="c-mv__heading--en">COMPANY</p>
      <h1 class="c-mv__heading--jp">企業情報</h1>
    </div>
  </section>

  <section class="company">
    <div class="container">
      <div class="company__heading">
        <h2 class="company__heading--tt"><span>会社概要</span></h2>
        <p class="company__heading--desc">
          キャピタルアセットプラスは「お客様第一主義」の<br class="sp">考えのもと、<br class="pc">
          杉並区で最大規模のタクシー会社、<br class="sp">キャピタルグループの一員として<br class="sp">今後も地域交通に貢献していきます。
        </p>
      </div>
      <div class="company__tbl">
        <table>
          <tbody>
            <tr>
              <th>会社名称</th>
              <td>キャピタルアセットプラス株式会社</td>
            </tr>
            <tr>
              <th>事業目的</th>
              <td>
                <ul class="company__dot">
                  <li>一般乗用旅客自動車運送事業一般自動車修理整備及び板金塗装並びに民間自動車検査事業</li>
                  <li>自動車売買業</li>
                  <li>自動車車庫賃貸並びに駐車場業務</li>
                  <li>自動車部品用品販売、洗車サービス業石油製品・油脂製品並びにLPGガス製造販売及び取次販売業</li>
                  <li>自動車損害賠償法に基づく保険代理業並びに損害保険代理業</li>
                  <li>土地建物不動産取引業</li>
                  <li>賃貸斡旋並びに賃貸業</li>
                  <li>飲食業並びに娯楽遊戯場業不動産賃貸業</li>
                  <li>住宅宿泊事業法に基づく住宅宿泊事業、住宅宿泊管理業及び</li>
                  <li>住宅宿泊仲介業の経営</li>
                  <li>レンタカー事業及びレンタカー型カーシェアリング事業の経営</li>
                  <li>一般貨物自動車運送事業</li>
                  <li>乗合事業前各号に付帯関連する一切の事業</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>資本金</th>
              <td>1,000,000円</td>
            </tr>
            <tr>
              <th>代表者</th>
              <td>磯 史洋</td>
            </tr>
            <tr>
              <th>設 立</th>
              <td>令和６年２月</td>
            </tr>
            <tr>
              <th>車輌保有数</th>
              <td>キャピタルアセットプラス00台</td>
            </tr>
            <tr>
              <th>関連会社</th>
              <td>
                キャピタルモータース株式会社<br>
                キャピタルオート株式会社<br>
                キャピタル交通株式会社<br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>