@use "sass:math";
@use "../global/" as *;
@use "../extend";
/*!
layout > container
------------------------------
*/

.container {
    width: 100%;
    max-width: $width-content;
    padding-inline: 25px;
    margin-inline: auto;
}
