---
layout: _default
title: 
description: ''
keyword: ''
vendercss: []
venderjs: []
css: ['top']
js: []
page: top
---
<main class="p-top">
    <section class="mv">
        <div class="mv__inner">
            <div class="mv__content">
                <figure class="mv__content--plus">
                    <img src="./assets/images/common/img_plus.svg" alt="Plus more Value">
                </figure>
                <h2 class="mv__content--heading">
                    <span class="main">
                        この街の移動に<br>
                        新たな価値を
                    </span>
                    <img src="./assets/images/top/img_mv_ttl.svg" alt="プラスする。" class="sub">
                </h2>
            </div>
            <figure class="mv__img">
                <img src="./assets/images/top/img_mv01.webp" alt="">
            </figure>
        </div>
    </section>

    <section class="premium">
        <div class="container">
            <div class="premium__img">
                <figure class="premium__img--logo">
                    <img src="./assets/images/top/img_premium_logo.webp" alt="GO PREMIUM">
                </figure>
                <figure class="premium__img--car">
                    <img src="./assets/images/top/img_premium_car.webp" alt="">
                </figure>
            </div>
            <h2 class="premium__heading">時間を、空間を、移動の質を。<br>すべてをプレミアムに。</h2>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <h2 class="news__heading">
                <span class="news__heading--en">NEWS</span>
                <span class="news__heading--jp">お知らせ</span>
            </h2>
            <ul class="news__list">
                <li class="news__item">
                    <a href="" class="news__item--link">
                        <span class="date">0000.00.00</span>
                        <span class="title">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>
                    </a>
                </li>
                <li class="news__item">
                    <a href="" class="news__item--link">
                        <span class="date">0000.00.00</span>
                        <span class="title">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>
                    </a>
                </li>
                <li class="news__item">
                    <a href="" class="news__item--link">
                        <span class="date">0000.00.00</span>
                        <span class="title">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="service">
        <div class="container">
            <div class="service__list">
                <div class="service__list--item">
                    <div class="service__content">
                        <h2 class="service__heading">
                            <span class="service__heading--jp">その車窓に、プレミアムな<br class="sp">眼差しをプラスする。</span>
                            <span class="service__heading--en">GO PREMIUM<br>SERVICE</span>
                        </h2>
                        <p class="service__desc">高級車・アルファードで、<br>一歩先ゆく最高級な移動体験。</p>
                        <a href="" class="service__btn c-btn__primary"><span>Read More</span></a>
                    </div>
                    <figure class="service__img">
                        <img src="./assets/images/top/img_service01.webp" alt="">
                    </figure>
                </div>
                <div class="service__list--item">
                    <div class="service__content">
                        <h2 class="service__heading">
                            <span class="service__heading--jp">その運転に、さらなる<br>ホスピタリティをプラスする｡</span>
                            <span class="service__heading--en">DRIVER<br>RECRUIT</span>
                        </h2>
                        <p class="service__desc">特別な一台でゲストを迎える、<br>品格とゆとりが、あなたの日常になる。</p>
                        <a href="" class="service__btn c-btn__primary"><span>Read More</span></a>
                    </div>
                    <figure class="service__img">
                        <img src="./assets/images/top/img_service02.webp" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="movie">
        <div class="container">
            <div class="movie__top">
                <h2 class="movie__heading">
                    <figure class="movie__heading--en">
                        <img src="./assets/images/top/img_movie_tittle.svg" alt="Movie">
                    </figure>
                    <span class="movie__heading--jp">動画公開中</span>
                </h2>
            </div>

            <ul class="movie__list">
                <li class="movie__item">
                    <a href="https://www.youtube.com/watch?v=E5KGsmsyVu4" class="movie__item--link" target="_blank">
                        <figure class="movie__item--thumbnail">
                            <img src="./assets/images/top/img_movie01.webp" alt="">
                        </figure>
                    </a>
                    <span class="movie__item--title">キャピタルグループ<br>ブランドコンセプトムービー</span>
                </li>
                <li class="movie__item">
                    <a href="https://www.youtube.com/watch?v=yZ0HdmFKioo" class="movie__item--link" target="_blank">
                        <figure class="movie__item--thumbnail">
                            <img src="./assets/images/top/img_movie02.webp" alt="">
                        </figure>
                    </a>
                    <span class="movie__item--title">私たちが考える、タクシーの未来</span>
                </li>
                <li class="movie__item">
                    <a href="https://www.youtube.com/watch?v=27JC-4oRydo" class="movie__item--link" target="_blank">
                        <figure class="movie__item--thumbnail">
                            <img src="./assets/images/top/img_movie03.webp" alt="">
                        </figure>
                    </a>
                    <span class="movie__item--title">キャピタルグループ<br>コーポレートムービー</span>
                </li>
                <li class="movie__item">
                    <a href="https://www.youtube.com/watch?v=3J4J77MDkaA" class="movie__item--link" target="_blank">
                        <figure class="movie__item--thumbnail">
                            <img src="./assets/images/top/img_movie04.webp" alt="">
                        </figure>
                    </a>
                    <span class="movie__item--title">杉並区グリーンスローモビリティ</span>
                </li>
            </ul>
        </div>
    </section>
</main>