<footer class="c-footer">
    <div class="c-footer__inner">
        <div class="c-footer__info">
            <figure class="c-footer__logo">
                <a href="<%= assetsDir %>">
                    <img src="../assets/images/common/logo.svg" alt="キャピタルアセットプラス">
                </a>
            </figure>
            <p class="c-footer__copy">&copy; Capital Asset. ALL RIGHTS RESERVED</p>
        </div>
        <ul class="c-footer__menu">
            <li class="c-footer__menu--item">
                <a href="<%= assetsDir %>">TOP</a>
            </li>
            <li class="c-footer__menu--item">
                <a href="">GO PREMIUM とは</a>
            </li>
            <li class="c-footer__menu--item">
                <a href="">採用情報</a>
            </li>
            <li class="c-footer__menu--item">
                <a href="">会社概要</a>
            </li>
            <li class="c-footer__menu--item">
                <a href="">個人情報保護規定</a>
            </li>
            <li class="c-footer__menu--item">
                <a href="">お問い合わせ・応募はこちら</a>
            </li>
        </ul>
    </div>
</footer>

<div class="c-totop"></div>

<ul class="c-fixed">
    <li class="c-fixed__item">
        <a href="./contact/" class="c-fixed__item--link contact">
            <img src="../assets/images/common/icon_mail.svg" alt="" class="icon">
            <span class="txt">お問い合わせ・応募はこちら</span>
        </a>
    </li>
    <li class="c-fixed__item">
        <a href="./recruit/" class="c-fixed__item--link recruit">
            <img src="../assets/images/common/icon_recruit.svg" alt="" class="icon">
            <span class="txt">採用情報はこちら</span>
        </a>
    </li>
    <li class="c-fixed__item">
        <span class="c-fixed__item--link totop">
            <img src="../assets/images/common/icon_totop_sp.svg" alt="" class="icon">
            <span class="txt">ページ上部へ</span>
        </span>
    </li>
</ul>