---
layout: _default
title:
description: ''
keyword: ''
vendercss: []
venderjs: []
css: ['go-premium']
js: []
page: go-premium
---

<main class="p-go">
  <section class="c-mv">
    <picture class="c-mv__img">
      <source media="(max-width: 767px)"
        srcset="../assets/images/go-premium/img_mv.webp">
      <img src="../assets/images/go-premium/img_mv.webp" alt>
    </picture>

    <h1 class="c-mv__heading">最高の移動体験を、<br>あなたに。</h1>
  </section>

  <section class="feature">
    <div class="container">
      <h2 class="feature__heading"><span>「GO PREMIUM」の特徴</span></h2>

      <div class="feature__list">
        <div class="feature__item">
          <picture class="feature__img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_feature01_sp.webp">
            <img src="../assets/images/go-premium/img_feature01.webp" alt>
          </picture>
          <div class="feature__content">
            <div class="feature__content--head">
              <p class="feature__content--stt">Point.1</p>
              <h3 class="feature__content--title">快適な移動空間</h3>
            </div>
            <p class="feature__content--desc">
              全車両「高級車・アルファード」を採用。<br>
              広々した車内空間でゆったり過ごすことができ、<br>
              最大6人まで乗車でき、荷物が多いときに最適です。
            </p>
          </div>
        </div>
        <div class="feature__item">
          <picture class="feature__img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_feature02_sp.webp">
            <img src="../assets/images/go-premium/img_feature02.webp" alt>
          </picture>
          <div class="feature__content">
            <div class="feature__content--head">
              <p class="feature__content--stt">Point.2</p>
              <h3 class="feature__content--title">予約不要・<br
                  class="sp">最低料金なし</h3>
            </div>
            <p class="feature__content--desc">
              ご利用の際はハイヤーのような事前予約や<br>
              最低料金は必要なく、利用したい時に<br>
              「GO」で呼んでいただくだけです。
            </p>
            <p class="feature__content--note">
              （「GOPREMIUM」の配車には<br>
              プレミアムチャージがかかります。）
            </p>
          </div>
        </div>
        <div class="feature__item">
          <picture class="feature__img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_feature03_sp.webp">
            <img src="../assets/images/go-premium/img_feature03_sp.webp" alt>
          </picture>
          <div class="feature__content">
            <div class="feature__content--head">
              <p class="feature__content--stt">Point.3</p>
              <h3 class="feature__content--title">良質な接客サービス</h3>
            </div>
            <p class="feature__content--desc">
              「GO」ご利用のお客様からの乗車後評価において<br>
              高評価を得た乗務員やハイヤー乗務員が中心となって<br>
              安心・安全かつ快適な移動を実現します。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="usage">
    <div class="container">
      <h2 class="usage__heading"><span>ご利用シーン</span></h2>
      <p class="usage__desc">あなたのライフスタイルに、<br>利便性と快適性をプラスする新しい移動の形。</p>
      <div class="usage__list">
        <div class="usage__item">
          <picture class="usage__item--img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_usage_01_sp.webp">
            <img src="../assets/images/go-premium/img_usage01.webp" alt>
          </picture>
          <p
            class="usage__item--detail">訪問先が多数ある時のビズネス利用に。駐車場を探す手間もなく、次の訪問先へドアtoドア移動が可能です。</p>
        </div>
        <div class="usage__item">
          <picture class="usage__item--img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_usage_02_sp.webp">
            <img src="../assets/images/go-premium/img_usage02.webp" alt>
          </picture>
          <p
            class="usage__item--detail">出張や旅行でたくさんの荷物を持って移動する際に、快適な旅の始まりをお約束します。</p>
        </div>
        <div class="usage__item">
          <picture class="usage__item--img">
            <source media="(max-width: 767px)"
              srcset="../assets/images/go-premium/img_usage_03_sp.webp">
            <img src="../assets/images/go-premium/img_usage03.webp" alt>
          </picture>
          <p
            class="usage__item--detail">大切な方を送迎する際の移動手段として、VIPをおもてなしするための特別な空間と時間を提供します。</p>
        </div>
      </div>
    </div>
  </section>

  <section class="app">
    <div class="container">
      <div class="app__heading">
        <h2 class="app__heading--title">
          <span class="app__heading--w">
            ご利用方法<span class="app__heading--line">アプリで呼ぶ</span>
          </span>
        </h2>
        <p class="app__heading--desc">ご利用の際は「タクシーアプリGO」へのご登録が必要です</p>
      </div>

      <div class="app__download">
        <picture class="app__download--logo">
          <source media="(max-width: 767px)"
            srcset="../assets/images/go-premium/img_app_logo.webp">
          <img src="../assets/images/go-premium/img_app_logo.webp" alt>
        </picture>
        <div class="app__download--text">
          使い方は簡単
          無料アプリをダウンロードするだけです。
          iPhone、Androidを操作して、
          タクシーをスムーズに呼べます
        </div>
        <picture class="app__download--img">
          <source media="(max-width: 767px)"
            srcset="../assets/images/go-premium/img_app_btn.webp">
          <img src="../assets/images/go-premium/img_app_btn.webp" alt>
        </picture>
      </div>

      <div class="c-flow app__flow">
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 1</p>
          <h3 class="c-flow__title">アプリを開く</h3>
          <p class="c-flow__desc">
            タクシーアプリGOを開き、<br>
            <span>手配画面</span>まで進む。
          </p>
          <figure class="c-flow__img">
            <img src="../assets/images/go-premium/img_app01.webp" alt>
          </figure>
        </div>
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 2</p>
          <h3 class="c-flow__title">配車手配</h3>
          <p class="c-flow__desc">
            GOプレミアムを選択し、<br>
            <span>「GOプレミアムを呼ぶ」</span>を押す。
          </p>
          <figure class="c-flow__img">
            <img src="../assets/images/go-premium/img_app02.webp" alt>
          </figure>
        </div>
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 3</p>
          <h3 class="c-flow__title">配車完了</h3>
          <p class="c-flow__desc">
            「GO PREMIUM」の配車である<br>
            ことが表示されます。到着まで<br>
            お待ちください
          </p>
          <figure class="c-flow__img">
            <img src="../assets/images/go-premium/img_app03.webp" alt>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="app">
    <div class="container">
      <div class="app__heading">
        <h2 class="app__heading--title">
          <span class="app__heading--w">
            ご利用方法<span class="app__heading--line">電話で呼ぶ</span>
          </span>
        </h2>
        <p class="app__heading--desc">アプリが不安な方はお電話での受付も可能です。</p>
      </div>

      <div class="c-flow app__flow">
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 1</p>
          <h3 class="c-flow__title">お電話</h3>
          <p class="c-flow__desc">
            GO PREMIUMタクシー<br>
            <a href="tel:000-0000-0000">000-0000-0000</a>
            までお電話ください。
          </p>
        </div>
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 2</p>
          <h3 class="c-flow__title">オペレーター</h3>
          <p class="c-flow__desc">
            <span>アナウンス</span>が流れますので電話機の<br>
            <span>プッシュボタンで「＃」</span>を押し<br>
            てください。
          </p>
        </div>
        <div class="c-flow__item">
          <p class="c-flow__item--stt">Step 3</p>
          <h3 class="c-flow__title">お迎え</h3>
          <p class="c-flow__desc">
            後はオペレーターがご対応<br>
            いたしますので直接<br>
            お申し付けください。
          </p>
        </div>
      </div>
    </div>
  </section>

</main>